.products__label {
  font-weight: 400px;
  font-size: 18px;
  text-align: center;
}

.products__headline {
  font-weight: 400;
  font-size: 34px;
  text-align: center;
}

.products__list {
  list-style: none;
}

.products__item {
  width: 280px;
  height: 485px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 24px;
}

.products__item:not(:last-child) {
  margin-bottom: 133px;
}

.products__item--1 {
  background-color: #ffb8ca;
  margin-top: 144px;
}

.products__item--2 {
  background-color: #f0d1a5;
}

.products__item--3 {
  background-color: #c2e297;
  margin-bottom: 98px;
}

.products__name {
  color: white;
  font-weight: 400;
  font: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 161px;
}

.products__name::after {
  content: url(../images/dots.png);
  position: absolute;
  transform: translate(-260%, 200%);
}

.products__name--1::before {
  content: url(../images/products-icecream.png);
  position: absolute;
  transform: translate(-28%, -107%);
}

.products__name--2::before {
  content: url(../images/products-coffee.png);
  position: absolute;
  transform: translate(-28%, -107%);
}

.products__name--3::before {
  content: url(../images/products-milkshake.png);
  position: absolute;
  transform: translate(-25%, -107%);
}

.products__description {
  text-align: center;
  padding: 0 41px;
  padding-top: 66px;
  color: white;
}
